html,
body{
    background-color : #A3C7D6;
    color: #131212;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{color: white; ;}


.header {
    background-color: #3F3B6C;
    display: flex;
    justify-content: start;
    align-items: center;;
    max-height: 3.2rem;
}
#title {
    margin-left : 120px;
    font-family:monospace;
    letter-spacing: 3px;
    font-size: 28px;
}

.content {
    background-color: #3F3B6C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 75%;
    height: 75%; 
    flex: 1;
    margin: 1.5rem;
    border-radius: 15px;
}

.game-container {
    background-color: #624F82;
    color: #131212;
    width: 80%;
    height: 45rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;;
    border-radius: 15px;
}
.game {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 2rem;
    margin-top: 12px;
}

.man {
    height: 240px;
    width: 220px;
    max-width: 220px;
    max-height: 240px;
    background-color: #A3C7D6;
    border-radius: 25%;
}

.category{
    position:relative;
    display: inline-block;
}

.input {
    border:2px solid white;
    border-radius: 10px;
    max-height:416px;
    max-width: 416px;
    width: 416px;
    height: 416px;
    margin-top: 8px;
}

.dropbtn {
    background-color: #40aa79;
    color: black;
    font-weight: 600;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #47c288;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #698474;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    color: white;
    padding: 14px 8px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #bfccac;
}

.show {display:block};


#answer{
    font-weight:bolder;
    font-size: 22px;
}

#answer-block {
    display: flex;
    margin-right: 10px;
    gap: 4px;
}

.letter-box {
    border: 2px solid white;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;;
    width: 26px;
    height: 34px;
    font-weight: bolder;
    margin-bottom: 16px;
    font-size: 24px;
    user-select: none;
}

.letter-box:hover {
    background-color: rgba(0,0,0,0.1);
}

#welcome {
    font-size: 22px;
}


.footer {
    background-color: #3F3B6C;
}

.footer p{
    margin-left: 40px;
}